<div class="applicants">
    <h1>エントリー一覧</h1>
    <div class="applicants-group">
        <% @users.each do |user| %>
            <div class="applicants-body">
                <div class="group-text">
                    <div class="top-text">
                        <h2><%= user.name %></h2>
                        <hr class="applicants-hr">
                        <p>学校名：<%= user.school %></p>
                    </div>
                    <div class="button03">
                        <p style="text-align:center"><%= link_to "名刺をみる", root_path, class: 'btn btn-default' %></p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
