<div class="step-area">
    <div class="step-caption_area">
        <p>こんにちは</p>
        <div class="caption-image">
            <img src="/caption.png" alt="キャプション">
        </div>
        <div class="button-group">
        <div class="button03">
            <p style="text-align:center"><%= link_to "名刺を作成する", controller: 'home', action: 'new', class: 'btn btn-default' %></p>
        </div>
    </div>
</div>


