<div class="step-area">
    <div class="step-caption_area">
        <h1>この度は、<br>新規ご登録ありがとうございます。</h1>
        <p>こちらはダミーテキストです。こちらはダミーテキストです。</p>
        <div class="button-group">
        <div class="button03">
            <p style="text-align:center"><%= link_to "名刺を作成する", controller: 'company_infos', action: 'new', class: 'btn btn-default' %></p>
        </div>
    </div>
</div>
