
.applicants {
    background: linear-gradient(rgb(71,169,210), rgb(70,234,181));
    padding-top: 0;
    height: 4500px;
}

.applicants-group {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
}









