h1 {
    color: black;
    padding-top: 160px;
    padding-bottom: 40px;
    text-align: center;
}

.main-button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.text_link p {
    padding-bottom: 160px; 
}
