// Place all the styles related to the namecard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sach-sidebar-category-label {
    width: 156px;
    height: 20px;
    line-height: normal;
    letter-spacing: normal;
    color: #191919;
}

