<h1>学生さまの場合は左のボタン、<br>企業さまの場合は右のボタンから"新規登録"してください。</h1>

<div class="main-button">
        <div class="button01">
            <p><%= link_to "学生さま", signup_path, class: 'btn btn-default' %></p>
        </div>
        <div class="button01">
            <p><%= link_to "企業さま", signup_company_path, class: 'btn btn-default' %></p>
        </div>
</div>

<div class="text_link">
    <p style="text-align:center">すでに会員登録済みの方はこちら</p>
</div>
