<header>
    <div class="logo">
        <img src="logo_color.png" alt="sach">
    </div>
    <div class="header-button">
        <button type="button">新規登録</button>
        <button type="button">ログイン</button>
    </div>
</header>

<!--ここまでヘッダー-->

<div class="fv">
    <h1 style="text-align:center">オンライン名刺で<br>「学生」と「企業」を繋ぐ</h1>
    <p style="text-align:center">With online business cards<br>Connecting "students" and "companies"</p>
</div>

<!--ここまでFV-->

<nav>
    <ul>
        <li><a href="#Introduction">はじめに</a>
        <li><a href="#overview">オンライン名刺とは？</a>
        <li><a href="#conversionarea"> 新規登録がお済みでない方はこちら</a>
        <li><a href="#contact">お問い合わせ</a>
    </ul>
</nav>

<!--ここまでナビゲーション-->

<body>
    <div id="introduction">
        <div class="introduction_group">
            <h2 style="text-align:center">はじめに</h2>
            <p>コロナ渦の状況が続く中で、世の中は臨機応変に適宜対応を余儀無くされているかと思います。
            就職面においても直接対面する”会社説明会”や”面接”など今ではオンラインに使用を切り替えていることが主流です。
            そんな今の時代に合わせて、オンラインでもっと企業と学生の距離感を縮めるための名刺サービスをご提供します。
            </p>
        </div>
    </div>

    <div id="overview">
        <div class="overview_group">
            <h2 style="text-align:center">オンライン名刺とは？</h2>
            <p>本サービスがご提供するオンライン名刺サービスは学生さまに名刺を作成いただき、企業さまに名刺のURLを送りできるサービスです。
            企業さま側からすると、オンライン上お送りされますのでネットワーク環境の整った場所であればいつでも確認することができます。
            </p>
        </div>
    </div>

    <div id="conversionarea">
        <h3>新規登録がお済みでない方はこちら</h3>
        <button type="button">新規登録</button>
    </div>


<!--ここからタブ1-->


    <main>
        <input type="radio" name="tab_name" id="tab1" checked>
        <label class="tab_class" for="tab1">学生さま</label>
            <div class="content_class">
                <div class="contents-merit_g">
                    <div class="pros">
                        <h2>"学生さま"にとっての「SACH」を使うメリット</h2>
                        <p>“SACH”を使うにあたり<br>メリットとなる機能をご紹介します。</p>
                    </div>
                    <div class="pros-items">
                        <div class="items">
                            <h3>point01</h3>
                            <img src="rainbow.png" alt="アイコン1">
                            <h4>オンラインでも自分の<br>魅力を伝えられる</h4>
                        </div>
                    </div>
                    <div class="pros-items">
                        <div class="items">
                            <h3>point02</h3>
                            <img src="rainbow.png" alt="アイコン2">
                            <h4>●●●●●●●●●<br>●●●●●●●●●</h4>
                        </div>
                    </div>
                    <div class="pros-items">
                        <div class="items">
                            <h3>point03</h3>
                            <img src="rainbow.png" alt="アイコン3">
                            <h4>企業からオファー<br>返ってくる！</h4>
                        </div>
                    </div>
                    <hr width="800px" color="white">
                </div>
                <div class="contents-flow">
                    <div class="flow">
                        <h2>ご利用の仕方/流れ</h2>
                        <p>本サービスのご利用手順についてご説明します。</p>
                    </div>
                    <div class="flow-image">
                        <img src="flow.png" alt="ご利用の仕方・流れ">
                    </div>
                    <hr width="800px" color="white">
                </div>
                <div class="contents-price">
                    <h2>料金/課金</h2>
                    <p>基本的に無料でお使いいただけますが、<br>名刺作成の際に有料のコンテンツがございます。</p>
                    <div class="price-image">
                        <img src="price.png" alt="料金制度表">
                    </div>
                </div>
            </div>


<!--ここからタブ2-->


        <input type="radio" name="tab_name" id="tab2" checked>
        <label class="tab_class" for="tab2">企業さま</label>
        <div class="content_class">
            <div class="contents-pros_k">
                <div class="pros">
                    <h2>"企業さま"にとっての「SACH」を使うメリット</h2>
                    <p>“SACH”を使うにあたり<br>メリットとなる機能をご紹介します。</p>
                </div>
                <div class="pros-items">
                    <div class="items">
                        <h3>point01</h3>
                        <img src="rainbow.png" alt="アイコン1">
                        <h4>オンラインでも自分の<br>魅力を伝えられる</h4>
                    </div>
                </div>
                <div class="pros-items">
                    <div class="items">
                        <h3>point02</h3>
                        <img src="rainbow.png" alt="アイコン2">
                        <h4>●●●●●●●●●<br>●●●●●●●●●</h4>
                        
                    </div>
                </div>
                <div class="pros-items">
                    <div class="items">
                        <h3>point03</h3>
                        <img src="rainbow.png" alt="アイコン3">
                        <h4>企業からオファー<br>返ってくる！</h4>
                    </div>
                </div>
                <hr width="800px" color="white">
            </div>

            <div class="contents-flow">
                <div class="flow">
                    <h2>ご利用の仕方/流れ</h2>
                    <p>本サービスのご利用手順についてご説明します。</p>
                </div>
                <div class="flow-image">
                    <img src="flow.png" alt="ご利用の仕方・流れ">
                </div>
                <hr width="800px" color="white">
            </div>

            <div class="contents-price">
                <h2>料金/課金</h2>
                <p>基本的に無料でお使いいただけますが、<br>名刺作成の際に有料のコンテンツがございます。</p>
                <div class="price-image">
                    <img src="price.png" alt="料金制度表">
                </div>
            </div>
        </div>
    </div>


<!--ここまでタブ-->


    <div class="buttonarea">
        <div class="button-group">
            <button type="button">ログイン</button>
            <button type="button">新規登録</button>
        </div>
    </div>

    <footer>
        <div class="footer-group">
            <div style="text-align: center" class="footer-logo">
                <img src="logo_color.png" alt="ロゴ">
            </div>
            <div class="footer-caption">
                <div class="caption-left">
                    <h3 style="text-align:center">"学生さま"</h3>
                    <div style="text-align:center" class="caption-group">
                        <a href="#Introduction">“SACH”を使うメリット</a>
                        <a>ご利用の仕方/流れ</a>
                        <a>料金/課金</a>
                    </div>
                </div>
            </div>

            <hr width="800px" color="black">

            <div class="footer-caption">
                <div class="caption-right">
                    <h3 style="text-align:center">"企業さま"</h3>
                    <div style="text-align:center" class="caption-group">
                        <a>“SACH”を使うメリット</a>
                        <a>ご利用の仕方/流れ</a>
                        <a>料金/課金</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-under">
            <p style="text-align:center">© on-line service SACH, Inc.</p>
        </div>
    </footer>
</body>
