<footer>
        <div class="footer-group">
            <div style="text-align: center" class="footer-logo">
                <img src="logo_color.png" alt="ロゴ">
            </div>
            <div class="footer-caption">
                <div class="caption-left">
                    <h3 style="text-align:center">"学生さま"</h3>
                    <div style="text-align:center" class="caption-group">
                        <a href="#Introduction">“SACH”を使うメリット</a>
                        <a>ご利用の仕方/流れ</a>
                        <a>料金/課金</a>
                    </div>
                </div>
            </div>

            <hr width="800px" color="black">

            <div class="footer-caption">
                <div class="caption-right">
                    <h3 style="text-align:center">"企業さま"</h3>
                    <div style="text-align:center" class="caption-group">
                        <a>“SACH”を使うメリット</a>
                        <a>ご利用の仕方/流れ</a>
                        <a>料金/課金</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-under">
            <p style="text-align:center">© on-line service SACH, Inc.</p>
        </div>
    </footer>