<header>
    <div class="logo">
        <%= link_to image_tag("logo_color.png"), "/" %>
    </div>
    <div class="header-button">
        <div class="button01">
            <p><%= link_to "ログイン", detail_path, class: 'btn btn-default' %></p>
        </div>
        <div class="button01">
            <p><%= link_to "ログアウト", logout_company_path, method: :delete, class: 'btn btn-default' %></p>
        </div>
        <div class="button01">
            <p><%= link_to "新規登録", register_path, class: 'btn btn-default' %></p>
        </div>
    </div>
</header>
